**/logs
**/wandb
**/meerkats-subseg
**/lightning_logs
**/__pycache__
**/lightning_logs
/workspace/meerkats-subseg
**/data
**/hctsa
/workspace/Isabel_meerkat
/workspace/mara_meerkat
/workspace/marta_meerkat
