**/logs
**/wandb
**/meerkats-subseg
**/lightning_logs
**/__pycache__
**/lightning_logs
**/data
**/hctsa
**/Isabel_meerkat
**/mara_meerkat
**/marta_meerkat
**/marta-meerkat
.nfs*
meerkats/src/features_extraction/Compare2016.csv
